/* FOOTER STYLES
================================================== */
#site-footer {
	background-color: #393939;
	padding: 25px 0;

	.copyrights-info {
		color: $white;
		font-size: 13px;
		margin: 11px 0 0 0;
		text-align: center;

		a {
			color: $white;
			font-weight: 700;
		}
	}

	.inline-list {
		text-align: right;
		margin: 0;

		li {		
			display: inline-block;
			float: none;
			margin: 0;

			a {
				display: block;
				width: 31px;
				height: 31px;
				text-align: center;
				line-height: 31px;
				color: $white;
				border: 1px solid $white;
				transition: background-color 0.3s ease-in;

				&:hover {
					background-color: $orange;
				}
			}
		}
	}
}

@media only screen and (max-width: 64rem) {
	#site-footer .copyrights-info {
		margin: 0.9375rem 0 0.9375rem;
	}

	#site-footer .copyrights-info,
	#site-footer .inline-list {
		text-align: left;
	}

	#site-footer .inline-list li {
		margin-right: 0.9375rem;
	}

}