/* JUMBOTRON STYLES
================================================== */
.jumbotron {
	max-height: 780px;
	background: #7c7b7b url(../images/intro.jpg) no-repeat center top;
	background-size: cover;
	background-blend-mode: multiply;
	font-size: 1.25rem; //20px
	padding: 7.25em 0 5em;

	@media only screen and (max-width: 64em) {
		font-size: 1rem;//16px
	}

	@media only screen and (max-width: 40em) {
		font-size: 13px;
	}

	@media only screen and (max-width: 480px) {
		font-size: 0.4375rem; //7px
	}

	.intro {
		text-align: center;
		color: $white;

		.intro__heading {
			font-size: 10em; //200px
			color: $white;
			line-height: 0.9;
			margin: 0;
			text-transform: uppercase;
			font-weight: 900;
			margin-bottom: 0.2em; //40px 

			.intro__heading--thin,
			.intro__heading--thin-primary-color {
				display: block;
			}

			.intro__heading--thin {
				font-size: 0.3em;
				font-weight: 300;
			}

			.intro__heading--dot, 
			.intro__heading--thin-primary-color {
				color: $orange;
			}

			.intro__heading--thin-primary-color {
				font-size: 0.55em; //110px
				font-weight: 300;
			}
		}

		.intro__content {
			width: 40%;
			margin: 0 auto;

			@media only screen and (max-width: 64em) {
				width: 80%;
			}

			@media only screen and (max-width: 480px) {
				font-size: 0.8125rem; //13px
			}
		}
	}
}
